
    
.setor {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 1px;
    background: white;
    
}
button:active {
    color: red;
    background: rgb(221, 48, 5);
}



button:hover {

    color:white;
    background: rgb(2, 165, 2);
}

